.graphTooltipWrapper {
    padding: 2px 8px;
    background-color: white;
    color: black;
    border: 2px solid lightgrey;
    border-radius: 5px;
    text-align: center;
    top: 0px;
    left: 0px;
}

.graphTooltipHeader {
    margin-bottom: 0px;
    font-weight: 500;
}

.graphTooltipText {
    margin-bottom: 0px;
}