<form [formGroup]="friendForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="user-card">
    <mat-card-header>
      <mat-card-title>Enter your information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-12 pt-3">
          <app-name-field
            [friendForm]="friendForm"
            [placeholder]="'Your name'"
            [controlName]="'name'">
          </app-name-field>
        </div>
        <div class="col-12 col-sm-6 pt-4">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Your weight (in lbs.)"
              type="number"
              formControlName="weight"/>
            <mat-error *ngIf="friendForm.controls['weight'].hasError('required')">
              Required field
            </mat-error>
            <mat-error *ngIf="friendForm.controls['weight'].hasError('min')">
              Must be at least 50 lbs.
            </mat-error>
            <mat-error *ngIf="friendForm.controls['weight'].hasError('max')">
              Must be less than 1000 lbs.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6 pt-4">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Your age (in years)"
              type="number"
              formControlName="age"/>
            <mat-error *ngIf="friendForm.controls['age'].hasError('required')">
              Required field
            </mat-error>
            <mat-error *ngIf="friendForm.controls['age'].hasError('min')">
              You must be at least 18 years old
            </mat-error>
            <mat-error *ngIf="friendForm.controls['age'].hasError('max')">
              Must be less than 150 years old
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngFor="let friend of friends; let i = index">
        <div
          class="pt-4"
          [ngClass]="{'col-12': i < friends.length - 1,'col-9 col-sm-10 col-md-11': i === friends.length - 1}">
          <app-name-field
            [friendForm]="friendForm"
            [placeholder]="friendFormService.getFriendPlaceholder(i)"
            [readonly]="i < friends.length - 1"
            [controlName]="friend">
          </app-name-field>
        </div>
        <div
          class="col-3 col-sm-2 col-md-1 pt-4"
          *ngIf="i === friends.length - 1">
          <button
            mat-mini-fab
            type="button"
            color="primary"
            aria-label="Delete friend"
            (click)="deleteFriend()">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-12 pt-4">
        <button
          mat-button
          type="button"
          [disabled]="friends.length === 5 || disableAddFriend()"
          (click)="addFriend()">
          + Add friend
        </button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
{{ friendForm?.value | json }}
