<form [formGroup]="personFG" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="user-card">
    <mat-card-header>
      <mat-card-title>Add person to friend network</mat-card-title>
    </mat-card-header>
    <div class="alert alert-err" role="alert" *ngIf="showErrMsg">
      Please correct all form errors before resubmitting.
    </div>
    <mat-card-content>
      <div class="row">
        <div class="col-12 pt-3">
          <app-name-field
            [group]="personFG"
            [control]="'name'"
            [placeholder]="'Your name'">
          </app-name-field>
        </div>
        <div class="col-12 col-sm-6 pt-4">
          <app-number-field
            [group]="personFG"
            [control]="'weight'"
            [placeholder]="'Your weight (in lbs.)'"
            [minErrMsg]="'Weight entry may not be less than 50 lbs.'"
            [maxErrMsg]="'Weight entry may not exceed 1000 lbs.'">
          </app-number-field>
        </div>
        <div class="col-12 col-sm-6 pt-4">
          <app-number-field
            [group]="personFG"
            [control]="'age'"
            [placeholder]="'Your age (in years)'"
            [minErrMsg]="'You must be at least 18 years old'"
            [maxErrMsg]="'Age entries may not exceed 150'">
          </app-number-field>
        </div>
      </div>
      <div class="row" *ngFor="let controlKey of friendControlKeys; let i = index">
        <div
          class="pt-4"
          [ngClass]="{'col-12': i < friendControlKeys.length - 1,'col-9 col-sm-10 col-md-11': i === friendControlKeys.length - 1}">
          <app-name-field
            [group]="personFG.controls['friendsFG']"
            [control]="controlKey"
            [placeholder]="friendFormService.getFriendPlaceholder(i)"
            [readonly]="i < friendControlKeys.length - 1">
          </app-name-field>
        </div>
        <div class="col-3 col-sm-2 col-md-1 pt-4" *ngIf="i === friendControlKeys.length - 1">
          <button
            mat-mini-fab
            type="button"
            color="primary"
            aria-label="Delete friend"
            (click)="deleteFriendField()">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-12 pt-4">
        <button
          mat-button
          type="button"
          [disabled]="friendControlKeys.length === 5 || friendFormService.disableAddFriendBtn(friendControlKeys, personFG.controls['friendsFG'])"
          (click)="addFriendField()">
          + Add friend
        </button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
