<form [formGroup]="personUpdateFormGroup" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="user-card">
    <mat-card-header>
      <mat-card-title>Update a person the network:</mat-card-title>
    </mat-card-header>
    <div class="alert alert-err" role="alert" *ngIf="showErrMsg">
      Please correct all form errors before resubmitting.
    </div>
    <mat-card-content>
      <div class="row">
        <div class="col-12 pt-3">
          <mat-form-field class="full-width" appearance="fill" [hideRequiredMarker]="true">
            <mat-label>Select a person</mat-label>
            <mat-select #personSelect [formControlName]="'name'">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let person of people$ | async" [value]="person.name">{{person.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="personUpdateFormGroup.controls['name'].hasError('required')">
              Required field
            </mat-error>
          </mat-form-field>
        </div>
        <!-- TODO create display condition for weight, age, and friends fields
        depends on person being selected first -->
        <div *ngIf="personSelect.value" class="col-12 col-sm-6 pt-4">
          <app-number-field
            [group]="personUpdateFormGroup"
            [control]="'weight'"
            [placeholder]="personSelect.value + ' weight (in lbs.)'"
            [minErrMsg]="'Weight entry may not be less than 50 lbs.'"
            [maxErrMsg]="'Weight entry may not exceed 1000 lbs.'">
          </app-number-field>
        </div>
        <div *ngIf="personSelect.value" class="col-12 col-sm-6 pt-4">
          <app-number-field
            [group]="personUpdateFormGroup"
            [control]="'age'"
            [placeholder]="personSelect.value + ' age (in years)'"
            [minErrMsg]="'You must be at least 18 years old'"
            [maxErrMsg]="'Age entries may not exceed 150'">
          </app-number-field>
        </div>
      </div>
      <!-- TODO create checkbox for each person
      <div class="row" *ngFor="let x of y; let i = index">
      </div> -->
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
{{ personUpdateFormGroup.value | json }}
